.container {
    display: flex;
    width:60rem;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.image {
    width: 25rem;
    height: 25rem;
    background-color: skyblue;
    box-sizing: border-box;
    border-right: 1px solid gray;
    margin-right: 10px;
    object-fit: cover;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 50px;
    border-bottom: 1px solid black;
    width: 33rem;
}

.content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 450px;  
    overflow: hidden;
    font-size: large;
    margin-top: 30px;
    line-height: 40px;
}