.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.subHeader {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; 
    margin-right: calc(33.33%); */

}

.category {
    width: 70px;
    font-size: large;
    color: #333333;
    padding: 0px 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.category:not(:last-child) {
    border-right: 2px solid #000000;
    padding-right: 15px;
}


.inputText {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #e9e9e9;
    /* margin-bottom: 10px; */
}

input {
    outline: none;
    border: 0;
    background-color: #e9e9e9;
    font-size: 15px;
    
}